<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form class="" action="/names" method="post">
  <label for="player_1_name">
    Player 1:
    <input type="text" name="p1" placeholder="Player 1 Name">
  </label>
  <label for="player_2_name">
    Player 2:
    <input type="text" name="p2" placeholder="Player 2 Name">
  </label>
  <input type="submit" value="Submit">
</form>
