<p>"Testing insfrastructure is as clear as London weather"</p>

<form class="" action="/names" method="post">
  Player 1:<br>
  <input type="text" name="P1:" value=""><br>
  Player 2:<br>
  <input type="text" name="P2:" value="">
  <input type="submit" value="Submit">

</form>
